
@import url("https://use.typekit.net/rlh3rji.css");

body {
    /* color variables */
    --pale-white: rgb(253, 252, 245);
    --navy-silver: rgb(169, 176, 190);
    --navy-gray: rgb(75, 79, 87);
    --navy-black: rgb(26, 34, 53);
    --sky-blue: rgb(83, 182, 222);
    --sunset-blue:rgb(29, 97, 150);
    
    background-color: var(--pale-white);
    margin: 0;
}

/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

*,
::before,
::after {
	box-sizing: border-box;
    /* border: black solid 1px; */
}


html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.2rem; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}

b,
strong {
	font-weight: bolder;
}


code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}


small {
	font-size: 80%;
}


sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}


table {
	border-color: currentcolor;
}


button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

legend {
	padding: 0;
}


progress {
	vertical-align: baseline;
}


::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}


[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}


::-webkit-search-decoration {
	-webkit-appearance: none;
}



::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}


summary {
	display: list-item;
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

p {
    font-size: 0.9rem;
}

a:visited, a:link {
    color: var(--navy-black);
}

a:hover {
    color: var(--sky-blue);
}

/* navbar decorations */

nav {
    backdrop-filter: blur(12px);
    background-color: rgba(253, 252, 245, 0.3);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 75px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgba(183, 182, 182, 0.7) 1px;
}

#menu-icon {
    display: none;
}

nav ul {
    display: flex;
    margin-top: 25px;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
    text-shadow: 0 0 1.5rem white;
    color: var(--navy-black);
}

nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

#postman-logo {
    font-size: 2.5rem;
    color: var(--navy-black);
    text-shadow: 0 0 1.5rem white;
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.mobile-left {
    display: flex;
    align-items: center;
}

#nav-logo-text {
    display: inline-block;
    color: var(--navy-black);
    margin-left: 7px;
    font-size: 1.5rem;
    text-shadow: 0 0 0.75rem white;
}

/* general decorations */

main {
    margin: 0 calc(7vw + 3rem);
    margin-top: 150px;
    color: var(--navy-black);
}

h1 {
    font-size: 3.75rem;
    font-family: 'ivybodoni', sans-serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0ch;
}

h2 {
    font-size: 2rem;
    font-family: 'ivybodoni', sans-serif;
    font-weight: 300;
    font-style: normal;
}

h4 {
    font-weight: 600;
    font-size: 1.2rem;
}

/* waterfall decorations */


.waterfall {
    column-gap: 12px;
    padding: 0;
    column-count: 3;
}

.waterfall-card {
  width: 100%;
  max-height: 600px;
  padding: 0;
  margin: 0;
  break-inside: avoid;
  margin-bottom: 12px;
}

.waterfall-card img {
    border-radius: 15px;
    min-height: 250px;
    object-fit: cover;
    max-width: 100%;
}

.waterfall-card img:hover {
    box-shadow: 0 0 12px var(--sunset-blue);
}

/* footer decorations */


footer {
    background-color: var(--navy-black);
    margin-top: 150px;
    height: 250px;
    padding: clamp(5vw, calc(7vw + 3rem), 20vw);;
    padding-top: 80px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--navy-silver);
}

.footer-contact ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
}

.footer-contact li {
    margin: 5px 0;
}

.footer-contact li a {
    color: var(--pale-white);
}

.footer-contact li a:hover {
    color: var(--sky-blue);
}

.footer-other {
    text-align: right;
    max-width: 25vw;
}


#footer-postman-logo {
    font-size: 2rem;
}


/* dialog decorations */

dialog::backdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(34, 32, 38, 0.88);
}

dialog[open] {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 0px solid black;
    align-items: center;
    margin: auto;
    color: var(--pale-white);
    outline: none;
}

.focused-work {
    max-height: 100vh;
    display: flex;
    align-items: center;
}

.dialog-close-btn {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 20px;
    border: var(--pale-white) solid 1px;
    display: block;
    margin-top: 20px;
}

.dialog-close-btn:hover {
    background-color: var(--pale-white);
    color: var(--navy-gray);
}

